@import "_basic";
@import "_mixin";

/* エラーメッセージ */
.err-msg {
  @include fs-14;
  li {
    background-color: #ff4949;
    color: #fff;
    padding: 0.1em 0.1em 0.1em 0.5em;
    margin-top: 5px;
  }
}

/* header */
.header {
  padding: 15px 0;
  border-bottom: 1px solid #b9b9b9;
  position: relative;
  &__inner {
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 50px;
  }
  &__user-name {
    @include fs-14;
    position: relative;
    cursor: pointer;
    user-select: none;
    &::after {
      @include set-pseudo("/img/ico_arrow.webp", 12px, 12px);
      right: -17px;
    }
  }
  &-menu {
    box-shadow: 9px 8px 8px -7px #b9b9b9;
    border-radius: 5px;
    width: 150px;
    padding: 20px 15px;
    position: absolute;
    right: 10px;
    bottom: -57px;
    background-color: #fff;
    display: none;
    &__item {
      margin-bottom: 5px;
    }
    &__link {
      @include fs-14;
    }
  }
}

/* footer */
.footer {
  border-top: 1px solid #b9b9b9;
  padding: 15px 0;
  &__copy {
    @include fs-12;
    display: block;
    text-align: center;
  }
}

/* rootページ */
.btns {
  @include fs-14;
  column-gap: 30px;
  &-wrap {
    @include centering;
    height: 100vh;
  }
  &__btn {
    @include set-border(1px, solid, #3d4451);
    padding: 0.5em 1em;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s;
    &:hover {
      background-color: #3d4451;
      color: #fff;
    }
  }
}

/* 一覧ページ */
.post {
  padding-top: 30px;
  &__heading {
    @include fs-20;
  }
  &-list {
    margin-top: 20px;
    &__item {
      margin-bottom: 20px;
      border: 1px solid #b9b9b9;
      padding: 10px;
      border-radius: 10px;
    }
    &__title {
      @include fs-16;
    }
    &__content {
      @include fs-14;
    }
  }
}
